<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Tests/_bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="Router Basic Unit Tests">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
